    .articles-index .el-col {
        margin-bottom: 20px;
    }
    .articles-index .header span {
        float: left;
    }
    .articles-index .header form {
        float: right;
    }
    .articles-index .header .el-col {
        border-bottom: 1px solid #ddd;
        padding: 10px 0 !important;
    }
    .articles-index .header .title {
        display: inline-block;
        height: 2em;
        line-height: 2em;
    }
    .articles-index .header .title:after {
        content: '';
        display:block;
        height: 0.6em;
        border-bottom: 2px solid #32D3C3;
    }
    /* 卡片部分 */
    .el-card__header {
        text-align: left;
    }
    .el-card__header h2{
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: normal;
        color: #333;
    }
    .el-card__header p.author-p{
        color: #aaa;
        font-size: 0.6em;
        line-height: 0.6em;
        margin: 1em 0;
    }
    .el-card__header div{
        color: #666;
        font-size: 1em;
        line-height: 1.4em;
    }
    .text {
        font-size: 14px;
    }

  .item {
    margin-bottom: 18px;
  }
  .el-tag {
      color:#32D3C3;
      border-color: #32D3C3;
      background: none;
      margin: 0 10px;
  }